#head {
  background-color: rgb(44, 71, 190);
  margin: auto;
  font-weight: 400;
}
.grpResults{
  border: 12pm red solid;
}

//https://www.sliderrevolution.com/resources/css-button-hover-effects/
// https://www.youtube.com/watch?v=lMQXmYihM7w&ab_channel=PrasadRao
// https://www.tektutorialshub.com/angular/formcontrol-in-angular/